* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: #CEEC97;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 96, 168, 0.6);
    margin: 2vh;
    padding: 8vh;
    border-radius: 20px;
}

section > div {
    background-color: rgba(252, 96, 168, 0.6);
    margin: 2vh;
    padding: 8vh;
    border-radius: 20px;
}