* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    background-color: #CEEC97;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

section {
    margin: auto;
}

#dateForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}